.activityContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
  padding: 20px;
}

.activityField {
  margin: 5px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.activityPaperContainer {
  padding: 20px;
}
