.divContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.companyFormContainer {
  width: 90%;
  margin: 20px;
  padding: 20px;
}

.companyFormField {
  margin: 10px;
}
