.rpsContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
  padding: 20px;
}

.rpsField {
}

.rpsPaperContainer {
  padding: 20px;
}

.rpsActionButtons {
  margin: 20px;
  width: 300px;
  justify-content: space-between;
}

.rpsActionBtn {
}
